{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<header>
    <h1 class="text-center mt-2">Crear Empleado</h1>
</header>
<form class="container" action='' method="POST">
    <div class="form-group">
        <label>Empleado Id </label>
        <input type="number" class="form-control" id="empleado_id" placeholder="Digite el id del empleado"
            name="empleado_id">
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Digite el nombre del empleado"
            name="nombre">
    </div>
    <div class="form-group">
        <label>Edad</label>
        <input type="number" class="form-control" id="edad" placeholder="Digite la edad del empleado" name="edad">
    </div>
    <div class="form-group">
        <label>Puesto</label>
        <input type="text" class="form-control" id="puesto" placeholder="Digite el puesto del empleado"
            name="puesto">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}