{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
    <h1>Informacion del empleado</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-body py-3">
                    <h3>Id</h3>
                    <p>{{empleado.empleado_id}}</p>
                    <hr>
                    <h3>Name</h3>
                    <p>{{empleado.nombre}}</p>
                    <hr>
                    <h3>Age</h3>
                    <p>{{empleado.edad}}</p>
                    <hr>
                    <h3>Position</h3>
                    <p>{{empleado.puesto}}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}