<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Pagina de Inicio.</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptas, quis vero omnis voluptatibus cupiditate
    fugiat! Fugit vitae autem eligendi, soluta at assumenda sint ullam ratione fugiat ad, voluptas explicabo.
    Enim temporibus maiores molestias pariatur quod a ad illo tempore dolore dolorum ipsam officia autem reiciendis
    laborum delectus nobis sint quis, tenetur ea laboriosam sit? Soluta, doloremque. Totam, ratione veniam.
    Nam accusantium aperiam iste veniam, sit dicta incidunt similique. Neque necessitatibus voluptates saepe beatae.
    Modi tempore commodi corrupti, sapiente cupiditate repudiandae laborum ad reiciendis atque libero voluptate dolorum
    aspernatur! Atque.
    Illo debitis omnis ea? Ullam ab temporibus cum ratione nam repellendus, architecto itaque facere odio praesentium
    cumque quos! Rem sed et excepturi voluptas animi, iure tempora velit magni commodi ad?
    Laborum, atque sint fugit minus rem dolore voluptatem perspiciatis suscipit quidem iusto cum nobis impedit aliquam a
    doloribus saepe amet praesentium expedita natus consectetur, voluptatum nesciunt debitis illo neque. Voluptatem?
</body>

</html>