*{
    box-sizing: border-box;
}
body{

    color: black;
    background-color:#c7f6d4;
    font-family: 'Libre Baskerville', serif;


}
.container{
    max-width: 1200px;
    
    margin: auto;
    padding: 20px 10px;
}

.navColor{
    background-color:  #fcfcda;
}
.footerColor{
    background-color:  #fcfcda;
}



